<%= form_for(@bin) do |f| %>
  <% if @bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% @bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Disable all fields except agency -->
  <% if controller.action_name.capitalize == 'Edit' %>

    <!-- Agency and number of bins -->
    <div class='row'>
      <div class='col s4'>
        <%= f.label :num_of_bins, 'Number of Bins' %>
        <%= f.number_field :num_of_bins, :value => 1, :disabled => true %>
      </div>
      <div class='col s4'>
        <%= f.label :agency_id %>
        <%= f.collection_select :agency_id, @agencies, :id, :name %>
      </div>
      <div class='col s4'>
        <%= f.label :program_id %>
        <%= f.collection_select :program_id, Program.alphabetical.all, :id, :name, :disabled => true %>
      </div>
    </div>

    <!-- Items -->
    <div class = "row">
      <table>
        <thead>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </thead>
        <% @bin_items_in_cart.each do |bi| %>
          <tr>
            <!-- Bad style but only option to display names of items in cart since bin and asscoiations not yet created at this time -->
            <% item = Item.find(bi[:item_id]) %>
            <td><%= link_to item.name, item_path(item) %></td>
            <td><%= item.category.name %></td>
            <td><%= bi[1] %></td>
          </tr>
        <% end %>
      </table>
    </div>

  <!-- All fields can be edited -->
  <% else %>

    <!-- Agency and number of bins -->
    <div class='row'>
      <div class='col s4'>
        <%= f.label :num_of_bins, 'Number of Bins' %>
        <%= f.number_field :num_of_bins, :value => 1 %>
      </div>
      <div class='col s4'>
        <%= f.label :agency_id %>
        <%= f.collection_select :agency_id, @agencies, :id, :name %>
      </div>
      <div class='col s4'>
        <%= f.label :program_id %>
        <%= f.collection_select :program_id, Program.alphabetical.all, :id, :name %>
      </div>
    </div>

    <!-- Items -->
    <div class = "row">
      <table>
        <thead>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </thead>
        <% @bin_items_in_cart.each do |bi| %>
        <tr>
          <!-- Bad style but only option to display names of items in cart since bin and asscoiations not yet created at this time -->
          <% item = Item.find(bi[0]) %>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.category.name %></td>
          <td><%= bi[1] %></td>
          <td><%= link_to '<i class="material-icons">close</i>'.html_safe, remove_item_path(item.id), class: "waves-effect waves-light btn-floating deep-orange darken-4 tooltipped", data: {position: 'right', tooltip: 'Remove from Bin'}%></td>
        </tr>
        <% end %>
      </table>
    </div>

  <% end %>


    <!--Submit -->
    <div class="form-actions row">

      <% if controller.action_name.capitalize == 'Edit'%>
        <%= f.button 'Update', class: 'btn orange white-text col s3' %>
      <% else %>
        <%= f.button 'Create', class: 'btn orange white-text col s3' %> 
        <%= link_to 'Back to Basket', show_cart_path, :class => 'btn red white-text col s3 offset-s1' %>
        <%= link_to "Back to Items", items_path , class: "waves-effect waves-light btn col s4 offset-s1 valign green white-text col s3" %>
      <% end %>
    </div>

<% end %>
