<%= form_for(@bin) do |f| %>
  <% if @bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% @bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- Agency and number of bins -->
    <div class='row'>
      <div class='col s4'>
        <%= f.label :num_of_bins, 'Number of Bins' %>
        <%= f.number_field :num_of_bins, :value => 1 %>
      </div>
      <div class='col s4'>
        <%= f.label :agency_id %>
        <%= f.collection_select :agency_id, @agencies, :id, :name %>
      </div>
      <div class='col s4'>
        <%= f.label :program_id %>
        <%= f.collection_select :program_id, Program.alphabetical.all, :id, :name %>
      </div>
    </div>

    <!-- Items -->
    <div class = "row">
      <table>
        <thead>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </thead>
        <% @bin_items_in_cart.each do |bi| %>
        <tr>
          <td><%= link_to bi.item.name, item_path(bi.item) %></td>
          <td><%= bi.item.category.name %></td> 
          <td>
            <%= bi.quantity %>
          </td>
          <td><%= link_to '<i class="mdi-navigation-close"></i>'.html_safe, remove_item_path(bi.item.id), class: "waves-effect waves-light btn-floating deep-orange darken-4 tooltipped", data: {position: 'right', tooltip: 'Remove from Bin'}%></td>
        </tr>
        <% end %>
      </table>
    </div>

    <!--Submit -->
    <div class="form-actions row">

      <% if controller.action_name.capitalize == 'Edit'%>
        <%= f.button 'Update', class: 'btn orange white-text col s3' %>
      <% else %>
        <%= f.button 'Create', class: 'btn orange white-text col s3' %> 
      <% end %>

      <%= link_to 'Back to Basket', show_cart_path, :class => 'btn red white-text col s3 offset-s1' %>
      <%= link_to "Back to Items", items_path , class: "waves-effect waves-light btn col s4 offset-s1 valign green white-text col s3" %>
    </div>

<% end %>
