<p>
  <strong>Bin Details</strong>
</p>
<!-- <p>
  <strong>Agency:</strong>
  <% #@bin.agency.name %>
</p> -->
<p>
	<strong>Program:</strong>
	<%= @bin.program.name %>
</p>
<p>
	<strong>Checkout Date:</strong>
	<%= @bin.checkout_date %>
</p>


<div class = "row">
	<!--Current Basket details -->
	<div class = "col s5">
		<strong class = "teal-text">Items Checked Out: </strong>
		<table class = "hoverable">
			<thead>
				<th>Name</th>
				<th>Quantity</th>
			</thead>
			<% @bin_items.each do |bi| %>
				<tr>
					<td><%=link_to bi.item.name, item_path(bi.item)%></td>
					<td><%=bi.quantity%></td>
				</tr>	
			<%end%>
		</table>
		<%= link_to "Edit Bin", edit_bin_path(@bin), class: "waves-effect waves-light btn col s5 valign green lighten-5 light-blue-text text-darken-4" %>
	</div>
</div>

<br>
<%= link_to "Back to Bin Listings", bins_path, class: "waves-effect waves-light btn valign purple lighten-5 light-blue-text text-darken-4" %>

