<h3>Log In</h3>

<%= form_tag sessions_path do %>

  <div class='row'>
    <div class='col s6'>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
  </div>

  <div class='row'>
    <div class='col s6'>
      <%= label_tag :password %>
      <%= text_field_tag :password %>
    </div>
  </div>

  <div class='row'>
    <%= button_tag 'Log In', class: "waves-effect waves-light btn orange white-text col s4"%>
  </div>

<% end %>