<%= simple_form_for(@item_checkin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quantity_checkedin %>
    <%= f.input :quantity_remaining %>
    <%= f.input :unit_price %>
    <%= f.input :donated %>
    <%= f.input :checkin_date %>
    <%= f.input :item_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
