<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-inputs row'>
    <div class='col s4'>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>

  <!-- Submit button -->
  <div class="actions row">
    <% if controller.action_name.capitalize == 'Edit'%>
      <!-- Submit and Nav buttons -->
      <%= f.submit 'Update Program', class: 'col s3 btn pink white-text' %>
    <% else %>
      <%= f.submit 'Add New Program', class: 'col s4 btn pink white-text' %>
    <% end %>
  </div>

<% end %>
