<!-- Inventory Count by Category -->
<div class="col-lg-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      Inventory Summary By Category
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover scrolltable">
        <% if @items_by_category.empty? %>
          <i>No items currently in the inventory. Add some <%= link_to new_item_path, 'here' %>!</i>
        <% else %>
          <thead>
            <tr>
              <th>Category</th>
              <th>Total Quantity Remaining</th>
              <th>Total Donated Quantity</th>
              <th>Total Bought Quantity</th>
            </tr>
          </thead>
          <tbody class="scrollbody">
			      <% @items_by_category.each do |i| %>
			        <tr class="scroll">
			  	      <td><%= i[:category] %></td>
			  	      <td><%= i[:total_quantity] %></td>
			  	      <td><%= i[:total_donated_quantity] %></td>
			  	      <td><%= i[:total_bought_quantity] %></td>
			        </tr>
			      <% end %>
		      </tbody>
        <% end %>
		    </table>
		  </div>
	  </div>
	</div>
</div>
