<p></p>
<div class = "row">
  <h4 class="col s6">Agency Listing</h4>
  <%= link_to "Add New Agency", new_agency_path, class: "waves-effect waves-light btn col s5 offset-s1 valign pink white-text" %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= link_to agency.name, agency_path(agency) %></td>
        <td><%= number_to_phone agency.phone %></td>
        <td><%= agency.email %></td>

        <!-- Toggle Agency Status: active/ inactive -->
        <td><%= link_to_if agency.active, '<i class="material-icons center-align small">done</i>'.html_safe, toggle_agency_path(agency), method: 'patch', class: "tooltipped", data: {confirm: "Are you sure you want to deactivate #{agency.name}?", position: 'bottom', tooltip: 'Deactivate Agency'} do
          link_to '<i class="material-icons center-align small">clear</i>'.html_safe, toggle_agency_path(agency), method: 'patch', class: "tooltipped", data: {confirm: "Are you sure you want to activate #{agency.name}?", position: 'bottom', tooltip: 'Activate Agency'}
          end%>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
