<p>
	<h5><strong>Agency Details</strong></h5>
</p>

<div class='row'>
	<!-- Name -->
	<div class='col s6'>
		<strong>Name: </strong>
		<%= @agency.name %>
	</div>
</div>

<div class='row'>
	<!-- Contact -->
	<div class='col s6'>
		<strong>Phone: </strong>
		<%= @agency.phone %>
	</div>
</div>
<div class='row'>
	<!-- Email -->
	<div class='col s6'>
		<strong>Email: </strong>
		<%= @agency.email %>
	</div>
</div>

<div class='row'>
	<!-- Address -->
	<div class='col s4'>
		<strong>Address: </strong>
		<%= @agency.street %> <br>
		<%= @agency.city %>, <%= @agency.state %>, <%= @agency.zip %>
	</div>
</div>

<div class='row'>
	<%= link_to "Edit Agency", edit_agency_path(@agency), class: "waves-effect waves-light btn col s5 valign pink white-text" %>
	<%= link_to "Back to Agency Listings", agencies_path, class: "waves-effect waves-light btn col s5 offset-s2 valign green white-text" %>
</div>