<%= form_for_filterrific @filterrific do |f| %>

	<div>
	    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
	    <%= f.text_field(:search_by_name, class: 'filterrific-periodically-observed', :placeholder=>'Name') %>
	</div>
	<div>
	    <%= f.text_field(:search_by_barcode, class: 'filterrific-periodically-observed', :placeholder=>'Barcode') %>
	</div>

	<div>
	  	<%= f.select(:by_gender, @filterrific.select_options[:by_gender], { include_blank: 'Gender' }, class: 'filterrific-periodically-observed') %>
	</div>
	<div>
	  	<%= f.select(:by_age_category, @filterrific.select_options[:by_age_category], { include_blank: 'Age' }, class: 'filterrific-periodically-observed') %>		
	</div>
	<div>
		<%= f.select(:by_category, @filterrific.select_options[:by_category], { include_blank: 'Category' }, class: 'filterrific-periodically-observed') %>	
	</div>
	<div>
	    <%= f.text_field(:search_by_quantity, class: 'filterrific-periodically-observed', :placeholder=>'<= Quantity') %>
	</div>
	<div>
		<%= link_to 'Reset filters',reset_filterrific_url, class: 'waves-effect waves-light btn col s12 green white-text' %>
	</div>
	<%# add an automated spinner to your form when the list is refreshed %>
	<%= render_filterrific_spinner %>
<% end %>
