<%= simple_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!-- Barcode -->
    <div class="col s6">
      <%= f.label :barcode %><br>
      <%= f.text_field :barcode %>
    </div>
    <!-- Category -->
    <div class='col s6'>
      <%= f.label :category_id %><br>
      <%# f.number_field :category_id %>
      <%= f.collection_select :category_id, Category.alphabetical, :id, :name %>
    </div>
  </div>

  <div class="row">

    <!-- Name -->
    <div class="col s3">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <!-- -->
    <div class='col s3'>
      <%= f.label 'Unit Price' %>
      <%= f.number_field :unit_price%>
    </div>
    <!-- Quantity in Inventory -->
    <div class="col s3">
      <%= f.label 'Quantity in Inventory'%><br>
      <% if @item.quantity.nil? == false %>
        <%= f.number_field :quantity, :disabled => true %>
      <% else %>
        <%= f.number_field :quantity, :value=>0, :disabled => true %>
      <% end %>
    </div>
    <!-- Quantity -->
    <div class="col s3">
      <% if controller.action_name.capitalize == 'Edit'%>
        <%= f.label :quantity, 'Increase quantity by' %><br>
        <%= f.number_field :quantity, :value => 0%>
      <% else %>
        <%= f.label :quantity, 'Quantity' %><br>
        <%= f.number_field :quantity, :value => 1%>
      <% end %>
    </div>

  </div>
  <div class="row">
      <!-- Gender -->
      <div class="col s6">
        <%= f.label :gender %><br>
        <%# f.number_field :gender %>
        <% gl = Item::GENDER_LIST %>
        <% for i in 0..gl.length-1 %>
          <%= f.radio_button :gender, i %>
          <%= f.label :gender, gl[i][0], :value => i %>
        <% end %>
        <%# f.select(:gender, Item::GENDER_LIST) %>
      </div>
      <!-- Age -->
      <div class="col s6">
        <%= f.label :age %><br>
        <%# f.number_field :age %>
        <% al = Item::AGE_LIST %>
        <% for i in 0..al.length-1 %>
          <%# f.check_box :age, i %>
          <!-- :tag_list, { :multiple => true }, 'foo', nil -->
          <%= f.check_box :age, {:multiple => true}, i, nil %>
          <%= f.label :age, al[i][0], :value => i %>
        <% end %>
        <%# f.select(:age, Item::AGE_LIST)%>
      </div>
  </div>

  <div class="row">
    <div class="col s6">
      <%# f.label :donated %><br>
      <%= f.check_box :donated, {checked: true} %>
      <%= f.label :donated, 'Donation' %>
      <%# f.radio_button :donated, 0 %>
      <%# f.label :donated, 'Donation'%>
      <%# f.radio_button :donated, 1 %>
      <%# f.label :donated, 'Bought' %>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </div>
  </div>

  <div class="row actions">
    <% if controller.action_name.capitalize == 'Edit'%>
      <%= f.submit 'Update Item', class: 'waves-effect waves-light btn pink white-text' %>
    <% else %>
      <%= f.submit 'Create Item', class: 'waves-effect waves-light btn pink white-text' %> 
    <% end %>
  </div>
<% end %>
