<div id='filterrific_results'>
	<!-- Collection View -->
	<ul class="collection">
		<% if @items.empty? %>
		 There are no items in inventory.
		<% else %>
		<% @items.each do |item| %>
			<li class='collection-item avatar'>
				<i class='material-icons circle green'> <%=item.category.icon %></i>
				<span class="title"> <%= link_to item.name.capitalize, item_path(item) %></span>
				<p>
					<!-- First Line -->
					<strong>Age: </strong>
					<% for a in item.age %>
						<%= @age_list.key(a)%> | 
	      			<% end %>
	      			&nbsp;&nbsp;
					<!-- First line -->
					<strong>Gender: </strong><%= @gender_list.key(item.gender) %>
					<br>
					<!-- Second Line -->
					<!-- Donated -->
					<% if item.donated == true %>
						Donated
					<% else %>
						Bought
					<% end %>
					&nbsp;&nbsp;
					<strong>Notes: </strong>
					<% if item.notes == ""%> 
						- 
					<% else %> 
						<%= item.notes %>
					<% end %>
				</p>	
				<div class="secondary-content">
					<!-- Donated -->
	<!-- 				<%# if item.donated == true%>
						<i class="mdi-action-done small center-align tooltipped", data-position: 'right', data-tooltip='Donated'></i>
			        <%# else %>
			        	<i class="mdi-content-clear center-align small tooltipped", data-position='right', data-tooltip='Bought'></i>
			        <%# end %> -->

			        <!-- Price -->
<!-- 					<text class='tooltipped', data-position='left', data-tooltip='Total Value'>
						<%# if item.unit_price.nil?%>
							<%# 'N.A' %>
						<%# else %>
							<%# number_to_currency item.total_inventory_value %>
						<%# end %>
					</text> -->
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
					<!-- Quantity -->
					<text class='tooltipped', data-position='left', data-tooltip='Total Quantity in Inventory'><%= item.total_quantity %></text>
			        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        
					<!-- Add to Basket -->
					<%= link_to '<i class="material-icons">shopping_basket</i>'.html_safe, add_to_cart_path(item.id),class: "waves-effect waves-light btn-floating deep-orange lighten-3 tooltipped", data: {position: 'right', tooltip: 'Add to Basket'} %> 
				</div>
			</li>
		<% end %>
		<% end %>
	</ul>

	<span class="smtext">
		<%= will_paginate @vaccinations, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
	</span>

</div>