<p></p>
<div class='row'>

  <!-- Fixed filters on the top if small screen-->
  <div class='col s12 show-on-small hide-on-med-and-down hide-on-large-only'>
    <div class='card-panel'>
      <%= render(partial: 'filter_form') %>
    </div>
  </div>

  <div class='col s12'>
    <!-- Nav buttons -->
    <div class = "row valign-wrappers">
      <h5 class="valign col s3">Items Listing</h5>
      <%= link_to "Add New Item", new_item_path, class: "waves-effect waves-light btn col s3 valign pink white-text" %>
      <%= link_to "Show Basket", show_cart_path, class: "waves-effect waves-light btn col s2 offset-s1 valign orange white-text" %>
      <%= link_to 'Export', items_export_path(format: 'csv'), class: "waves-effect waves-light btn col s2 offset-s1 valign red white-text" %>
    </div>
  </div>

  <div class='col s12 m9 l10'>
    <!-- Main Content -->
    <%= render( partial: 'list', locals: { items: @items} )%>
  </div> 

  <!-- Fixed filters on right side-->
  <div class='col hide-on-small-only m3 l2'>
    <div class='toc-wrapper pinned card-panel'>
      <div class='buysellads hide-on-small-only'>
        <h5>Filters: </h5>
        <%= render( partial: 'filter_form' )%>
      </div>
    </div>
  </div>

</div>

<!-- AB Testing for Items Listings View -->
<%# link_to 'Reset', reset_filterrific_url %>
<!-- 
<p id="notice"><%= notice %></p>
<div class="filter-box z-depth-2 green white-text">
  <%# render( partial: 'rough_filter_form' )%>
</div>
<%# link_to 'Reset', reset_filterrific_url %>
<%# render( partial: 'rough_index', locals: { items: @items} )%>  -->