<!-- Item filterform partial-->
<%= form_for_filterrific @filterrific do |f| %>
  <div class="col s12 m3">
    <div class="input-field white-text">
      <i class="material-icons prefix">search</i>
      <%= f.text_field(:by_search, placeholder: 'Search', class:'filterrific-periodically-observed') %>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="input-field">
      <i class="material-icons prefix">view_week</i>
      <%= f.text_field(:by_barcode, placeholder: 'Barcode', class:'filterrific-periodically-observed') %>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="input-field">
      <%= f.select(:for_category, @filterrific.select_options[:for_category], { include_blank: 'Category' }) %>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="input-field">
      <%= f.select(:by_age, @filterrific.select_options[:by_age], { include_blank: 'Age' }) %>
    </div>
  </div>
<% end %>

<!-- Item index page -->

<p id="notice"><%= notice %></p>
<div class="filter-box z-depth-2 green white-text">
  <%= render( partial: 'items/filterform' )%>
</div>
<%= link_to 'Reset', reset_filterrific_url %>
<%= render( partial: 'items/list', locals: { items: @items} )%>

<!-- CSS for filter bar on top -->
 .avg {
  display: block;
 }

div {
  display: block;
}

.row {
  display: block;
  margin-left:-20px;
  width: 100%;
  height: 80px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


.btn-large{
  width:100% !important;
  height: 150px !important;
}

.footer{
  position:absolute;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

fieldset {
  border: none;
}

.brand-logo {
  color: #000;
}

.side-bar-header {
  font-size: 1.2em;
}

.side-bar-box {
  display: inline-block;
  height: 10%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.side-bar-option {
  padding: 1rem;
  text-align: center;
}

.filter-box {
  display: inline-block;
  height: 10%;
  margin-bottom: 5px;
}

.filter-box .row {
  padding-left: 15px;
  padding-top: 20px;
}

.filter-box i {
  padding-top:8px;
}
.input-field .prefix.active {
  color: #FFF !important;
}

.filter-box .row .select-dropdown {
  border-bottom: 2px solid #FFF;
  font-size: 1em;
}



