<p>
  <h5><strong>Item Details</strong></h5>
</p>
<div class = "row">
  <!-- Name-->
  <div class="col s4">
      <strong>Name:</strong>
      <%= @item.name %>
  </div>
  <!-- Barcode -->
  <div class="col s4">
      <strong>Barcode:</strong>
      <%= @item.barcode %>
  </div>
  <!-- Category -->
  <div class="col s4">
      <strong>Category:</strong>
      <%= @item.category.name %>
  </div> 

</div>

<div class="row">
  <div class="col s6">
      <strong>Quantity remaining in inventory:</strong>
      <%= @item.quantity %>
  </div>
</div>


<div class="row">
  <div class="col s4">
      <strong>Gender:</strong>
      <%= @gender_list.key(@item.gender) %>
  </div>
  <div class="col s4">
      <strong>Age:</strong>
      <% for a in @item.age %>
        <%= @age_list.key(a)%> | 
      <% end %>
  </div>
  <div class="col s4">
      <strong>Donation:</strong>
      <% if @item.donated == true%>
        <i class="mdi-action-done center-align small"></i>
      <% else %>
        <i class="mdi-content-clear center-align small">
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <strong> Notes: </strong>
    <% if @item.notes == ""%>
      None
    <% else %>
      %= @item.notes %>
    <% end %>
  </div>
</div>

<%= link_to "Edit Item", edit_item_path(@item), class: "waves-effect waves-light btn col s5 valign pink white-text" %>
<%= link_to "Back to Item Listings", items_path, class: "waves-effect waves-light btn col s5 offset-s2 valign green white-text" %>
