<p>
  <h5><strong>Item Details</strong></h5>
</p>
<div class = "row">
  <!-- Name-->
  <div class="col s4">
      <strong>Name:</strong>
      <%= @item.name %>
  </div>
  <!-- Barcode -->
  <div class="col s4">
      <strong>Barcode:</strong>
      <% if @item.barcode='' %>
        None
      <% else %>
        <%= @item.barcode %>
      <% end %>
  </div> 
  <!-- Price -->
  <div class='col s4'>
    <strong>Total Value:</strong>
<!--     <%# if @item.unit_price.nil? %>
      N.A
    <%# else %>
      <%# number_to_currency @item.unit_price %>
    <%# end %> -->
    <%# number_to_currency @item.total_donated_value+total_bought_value %>
  </div>

</div>

<!-- Gender + Age -->
<div class="row">
  <div class="col s4">
      <strong>Gender:</strong>
      <%= @gender_list.key(@item.gender) %>
  </div>
  <div class="col s4">
      <strong>Age:</strong>

      <!-- Age array and length of loop -->
      <% a = @item.age %>
      <% a_length = @item.age.length %>

      <% if a_length-1 == 0 %>
        <!-- If length of age = 1 -->
        <%= @age_list.key(@item.age[0])%> 
      <% else %>
        <!-- If length of age list > 1 -->
        <% for i in range(a_length) %>
          <% if i == a_length %>
            <!-- Dont show '|' if last item -->
            <%= @age_list.key(@item.age[i])%> 
          <% else %>
            <%= @age_list.key(@item.age[i])%> | 
          <% end %>
        <% end %>
      <% end %>
  </div>

  <!-- Category -->
  <div class="col s4">
      <strong>Category:</strong>
      <%= @item.category.name %>
  </div>
</div>

<!-- Quantity  -->
<div class="row">
  <div class="col s4">
      <strong>Total Quantity in inventory:</strong>
      <%= @total_quantity %>
  </div>
<div class='col s4'>
    <strong>Quantity donated: </strong>
    <%= @item.total_donated_quantity %>
  </div>
  <div class='col s4'>
    <strong>Quantity Bought: </strong>
    <%= @item.total_bought_quantity %>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <strong> Notes: </strong>
    <% if @item.notes == ""%>
      None
    <% else %>
      <%= @item.notes %>
    <% end %>
  </div>
</div>

<div class='row'>
  <!-- Donation: Specific to item checked in. Not for all similar items in inventory -->
  <div class="col s4">
      <strong>Donation:</strong>
      <% if @item.donated == true%>
        <i class="material-icons center-align small">done</i>
      <% else %>
        <i class="material-icons center-align small">clear</i>
      <% end %>
  </div>
</div>

<%= link_to "Edit Item", edit_item_path(@item), class: "waves-effect waves-light btn col s5 valign pink white-text" %>
<%= link_to "Back to Item Listings", items_path, class: "waves-effect waves-light btn col s5 offset-s2 valign green white-text" %>
