<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Name -->
  <div class="row">
    <%= f.label :name, class: 'col s4' %><br>
    <%= f.text_field :name, class: 'col s4'  %>
  </div>
  <!-- Icon -->
  <div class="row">
    <%= f.label :icon, class: 'col s4'  %><br>
    <%= f.text_field :icon, class: 'col s4'  %>
  </div>
  <!-- Submit button -->
  <div class="actions row">
    <%= f.submit 'Add New Category', class: 'col s4 btn pink white-text' %>
  </div>

<% end %>
